@media (prefers-color-scheme: dark) {
    html, body {
        background: rgb(35, 34, 43);
    }

    .button.hover, .button-small.hover {
        background-color: royalblue !important;
    }

    .settings {
        background-color: dimgrey !important;
    }

    .settings:hover {
        background-color: seagreen !important;
    }
}

html, body {
    z-index: 10;
    min-width: 420px;
    padding: 0;
    overflow-x: hidden;
}

.container {
  margin: auto;
}

.left {
  width: 35%;
  float: left;
  flex-direction: column;
}

.right {
  padding-left: 16px;
  flex-direction: column;
}

.hidden {
    display: none;
}

.svg {
    display: flex;
}

.svg:hover {
    color: lightcoral;
}

.button-small {
    display: inline-block;
    background-color: grey;
    float: left;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#word-1 {
    width: 16px;
}

#word-2 {
    width: 24px;
}

#word-3 {
    width: 56px;
}

#word-4 {
    width: 96px;
}

#word-5 {
    width: 192px;
}

.button {
    background-color: grey;
    border-radius: 8px;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 16px;
    margin-bottom: 8px;
}

.paragraph {
    float: right;
    width: 65%;
    height: 48px;
    margin-bottom: 8px;
}

.button.hover, .button-small.hover {
    background-color: lightblue;
}

.mb-1 {
    margin-bottom: 8px;
}

input[type=number] {
    width: 48px;
}

.center {
    justify-content: center;
    align-items: center;
}

.small { font: 8px sans-serif; }

.settings {
    margin-top: auto;
}

.settings:hover {
    color: lightgreen;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext.last {
    top: -115%;
}

.tooltip-paragraph-fix {
    top: 115% !important;
}

.tooltip .tooltiptext.last::after {
    bottom: 0;
    top: 100%;
    border-color: black transparent transparent transparent;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext-last {
    visibility: visible;
}

.noselect {
    /* This is the reason why I will probably quit doing this and become a florist or something */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
