body {
    margin: 0;
    color: var(--text-color);
}

.container {
    align-items: flex-start;
    background: var(--panel-bg);
    display: inline-flex;
    gap: 1rem;
    padding: 1rem;
}

.left {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    width: 7.5rem;
}

.right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 0.25rem;

    &.word-row {
        height: 1rem;
        gap: 0.5rem;
    }
}

#word-1 {
    width: 1rem;
}

#word-2 {
    width: 1.5rem;
}

#word-3 {
    width: 2rem;
}

#word-4 {
    width: 3rem;
}

#word-5 {
    width: 4.5rem;
}

.settings {
    margin-top: auto;
}
