input {
    align-items: flex-start;
    background: var(--button-bg);
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08) inset, 1px 1px 2px 0 rgba(0, 0, 0, 0.08) inset;
    color: var(--text-color);
    display: flex;
    gap: 0.5rem;
    min-width: 3rem;
    padding: 0.625rem 0.75rem;

    &:focus-visible {
        outline: none;
    }
}

.input-label {
    align-items: center;
    background: var(--input-label);
    border-radius: 0.25rem 0 0 0.25rem;
    border: none;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    padding: 0.625rem 0.75rem;
    width: 1rem;
}

.input-group {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
}
