.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--tooltip-bg);
  border-radius: 0.25rem;
  color: var(--tooltip-color);
  left: 50%;
  margin-left: -3.75rem;
  padding: 0.25rem;
  position: absolute;
  text-align: center;
  top: 150%;
  width: 7.5rem;
  z-index: 1;

  &.tooltip-paragraph-fix {
    top: 115%;

    &.last {
      top: -75%;
    }
  }
}

.tooltip .tooltiptext.last::after {
  bottom: 0;
  top: 100%;
  border-color: var(--tooltip-bg) transparent transparent transparent;
}

.tooltip .tooltiptext::after {
  border-color: transparent transparent var(--tooltip-bg) transparent;
  border-style: solid;
  border-width: 0.25rem;
  bottom: 100%;
  content: "";
  left: 50%;
  margin-left: -0.25rem;
  position: absolute;
}

.tooltip:hover .tooltiptext, .tooltip:hover {
  visibility: visible;
}
